body{
    background-color: black;
}

h1{
  color: white;
  font-weight: bold;
  font-family: 'Avenir', sans-serif;
  font-size: 28pt;
  height: 35px;
}

h2{
  color: white;
  font-family: 'Avenir', sans-serif;
  font-size: 18pt;
}

.header{
  height: auto;
}

#map {
  height: 540px;
  width:75%;
  display: inline-block;
  font-family: 'Avenir', sans-serif;
}

#panel {
    width: 22%;
    padding: 0px;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: top;
}

.range-slider {
    width: 68%;
    color: white;
}

#forward {
    transform: scale(.8);
    float: right;
}

#reverse {
    float: left;
    transform: scale(.8);
}

.sequence-control-container, .legend-control-container {
	background-color: gray;
  opacity: .6;
	padding: 10px;
	text-align: center;
	border: solid gray 1px;
	font-size: 1.5em;
  font-family: 'Avenir', sans-serif;
  border-radius: 5px;
}

#temporal-legend{
  font-family: 'Avenir', sans-serif;
}

.text {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 255px;
    float: right;
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
    font-family: 'Avenir', sans-serif;
    color: black;
    font-size: 12pt;
    background-color: gray;
    opacity: .8;
    border-radius: 5px;
}
