body{
    background-color: black;
}

h1{
  color: white;
  font-family: 'Avenir', sans-serif;
  font-size: 24pt;
}

h2{
  color: white;
  font-family: 'Avenir', sans-serif;
  font-size: 12pt;
}

#map {
  height: 550px;
  width:80%;
  display: inline-block;
}

#panel {
    width: 16%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

.range-slider {
    width: 50%;
    color: white;
}

#forward {
    transform: scale(.8);
    float: right;
}

#reverse {
    float: left;
    transform: scale(.8);
}

.sequence-control-container, .legend-control-container {
	background-color: gray;
  opacity: .5;
	padding: 25px;
	text-align: center;
	border: solid gray 1px;
};


#temporal-legend {
	font-weight: bold;
	font-size: 1.5em;
  font-family: 'Avenir', sans-serif;
  color: white;
  font-size: 24pt;
}
