body{
    background-color: black;
}

h1{
  color: white;
  font-family: 'Avenir', sans-serif;
  font-size: 24pt;
}

h2{
  color: white;
  font-family: 'Avenir', sans-serif;
  font-size: 12pt;
}

#map {
  height: 800px;
  width: 80%;
  display: inline-block;
}

#panel {
    width: 16%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

.range-slider {
    width: 50%;
    color: white;
}

#forward {
    transform: scale(.8);
    float: right;
}

#reverse {
    float: left;
    transform: scale(.8);
}
